In [3]:
import matplotlib.pyplot as plt
from IPython.display import display, Markdown, Latex
import numpy as np
import json
import pandas as pd
from scipy import stats
import os
%matplotlib inline

#with open('transfer_experiment.json', 'r') as fp:
#    data = json.load(fp)
    
def load_data(experiments):
    data = { 'results' : {} }
    for item in experiments:
        experiment_title = item['id'] + '_' + item['source'] + '_' + item['target']
        if os.path.isfile('../transfer_experiment/experiments/' + experiment_title + '/' + experiment_title + '.json'):
            with open('../transfer_experiment/experiments/' + experiment_title + '/' + experiment_title + '.json', 'r') as fp:
                results = json.load(fp)
                data['results'][experiment_title] = results
    return data

def load_data_mln(experiments):
    data = { 'results' : {} }
    for item in experiments:
        experiment_title = item['id'] + '_' + item['source'] + '_' + item['target']
        if os.path.isfile('experiments/' + experiment_title + '/' + experiment_title + '.json'):
            with open('experiments/' + experiment_title + '/' + experiment_title + '.json', 'r') as fp:
                results = json.load(fp)
                data['results'][experiment_title] = results
    return data

In [4]:
experiments = [
            {'id': '1', 'source':'imdb', 'target':'uwcse', 'predicate':'workedunder', 'to_predicate':'advisedby'},
            {'id': '2', 'source':'uwcse', 'target':'imdb', 'predicate':'advisedby', 'to_predicate':'workedunder'},
            {'id': '3', 'source':'imdb', 'target':'uwcse', 'predicate':'movie', 'to_predicate':'publication'},
            {'id': '4', 'source':'uwcse', 'target':'imdb', 'predicate':'publication', 'to_predicate':'movie'},
            {'id': '5', 'source':'imdb', 'target':'uwcse', 'predicate':'genre', 'to_predicate':'inphase'},
            {'id': '6', 'source':'uwcse', 'target':'imdb', 'predicate':'inphase', 'to_predicate':'genre'},
            #{'id': '7', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'samevenue'},
            {'id': '53', 'source':'cora', 'target':'imdb', 'predicate':'samevenue', 'to_predicate':'workedunder'},
            {'id': '8', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'samebib'},
            {'id': '9', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'sameauthor'},
            #{'id': '10', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'sametitle'},
            {'id': '54', 'source':'cora', 'target':'imdb', 'predicate':'sametitle', 'to_predicate':'workedunder'},
            {'id': '11', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'samevenue'},
            {'id': '12', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'samebib'},
            {'id': '13', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'sameauthor'},
            {'id': '14', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'sametitle'},
            {'id': '15', 'source':'yeast', 'target':'twitter', 'predicate':'proteinclass', 'to_predicate':'accounttype'},
            {'id': '16', 'source':'yeast', 'target':'twitter', 'predicate':'interaction', 'to_predicate':'follows'},
            {'id': '17', 'source':'yeast', 'target':'twitter', 'predicate':'location', 'to_predicate':'tweets'},
            {'id': '18', 'source':'yeast', 'target':'twitter', 'predicate':'enzyme', 'to_predicate':'tweets'},
            {'id': '19', 'source':'yeast', 'target':'twitter', 'predicate':'function', 'to_predicate':'tweets'},
            {'id': '20', 'source':'yeast', 'target':'twitter', 'predicate':'phenotype', 'to_predicate':'tweets'},
            {'id': '21', 'source':'yeast', 'target':'twitter', 'predicate':'complex', 'to_predicate':'tweets'},
            {'id': '22', 'source':'twitter', 'target':'yeast', 'predicate':'accounttype', 'to_predicate':'proteinclass'},
            {'id': '23', 'source':'twitter', 'target':'yeast', 'predicate':'follows', 'to_predicate':'interaction'},
            {'id': '24', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'location'},
            {'id': '25', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'enzyme'},
            {'id': '26', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'function'},
            {'id': '27', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'phenotype'},
            {'id': '28', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'complex'},
            {'id': '29', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamalsoknownas', 'to_predicate':'companyalsoknownas'},
            {'id': '30', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'companyalsoknownas'},
            {'id': '31', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'acquired'},
            {'id': '32', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'bankboughtbank'},
            {'id': '33', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplayssport', 'to_predicate':'companyceo'},
            {'id': '34', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplayssport', 'to_predicate':'bankchiefexecutiveceo'},
            {'id': '35', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplaysforteam', 'to_predicate':'bankchiefexecutiveceo'},
            {'id': '36', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplaysforteam', 'to_predicate':'companyceo'},
            {'id': '37', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplayssport', 'to_predicate':'companyeconomicsector'},
            {'id': '38', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyalsoknownas', 'to_predicate':'teamalsoknownas'},
            {'id': '39', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyalsoknownas', 'to_predicate':'teamplaysagainstteam'},
            {'id': '40', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'acquired', 'to_predicate':'teamplaysagainstteam'},
            {'id': '41', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankboughtbank', 'to_predicate':'teamplaysagainstteam'},
            {'id': '42', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyceo', 'to_predicate':'athleteplayssport'},
            {'id': '43', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankchiefexecutiveceo', 'to_predicate':'athleteplayssport'},
            {'id': '44', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankchiefexecutiveceo', 'to_predicate':'athleteplaysforteam'},
            {'id': '45', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyceo', 'to_predicate':'athleteplaysforteam'},
            #{'id': '46', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyeconomicsector', 'to_predicate':'teamplayssport'},
            {'id': '47', 'source':'yeast', 'target':'facebook', 'predicate':'interaction', 'to_predicate':'edge'},
            {'id': '48', 'source':'twitter', 'target':'facebook', 'predicate':'follows', 'to_predicate':'edge'},
            {'id': '49', 'source':'imdb', 'target':'facebook', 'predicate':'workedunder', 'to_predicate':'edge'},
            {'id': '50', 'source':'uwcse', 'target':'facebook', 'predicate':'advisedby', 'to_predicate':'edge'},
            {'id': '116_un', 'source':'uwcse', 'target':'webkb', 'predicate':'advisedby', 'to_predicate':'departmentof'},
]

data = load_data(experiments)
data_mln = load_data_mln(experiments)

for metric in ['AUC ROC', 'AUC PR', 'CLL', 'Recall', 'F1', 'Precision', 'Learning and Revision time', 'Inference time']:
    display(Markdown('# Results for ' + metric))
    table = []
    for j in range(len(experiments)):
        dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
        if dataset in data['results']: 
            #for metric in ['AUC ROC', 'AUC PR']:
                #display(Markdown('## ' + metric))
            mapping_time = ''
            if metric == 'Precision':
                scratch = np.array([(np.array([item['mln_b']['Precision'][0] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                scratch_rdn = np.array([(np.array([item['rdn']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                parameter = np.array([(np.array([item['transfer']['parameter']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                transfer = np.array([(np.array([item['transfer']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
            elif metric == 'Learning and Revision time':
                scratch = np.array([(np.array([item['mln_b']['Learning time'] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                scratch_rdn = np.array([(np.array([item['rdn']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                parameter = np.array([(np.array([item['transfer']['parameter']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                transfer = np.array([(np.array([item['transfer']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                #mapping = np.array([(np.array([item['transfer']['Mapping results']['Total time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                #mapping_time = ' (%.1f)' % mapping.mean()
            elif metric == 'Inference time':
                scratch = np.array([(np.array([item['mln_b']['Inference time'] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                scratch_rdn = np.array([(np.array([item['rdn']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                parameter = np.array([(np.array([item['transfer']['parameter']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                transfer = np.array([(np.array([item['transfer']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
            else:
                scratch = np.array([(np.array([item['mln_b'][metric] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                scratch_rdn = np.array([(np.array([item['rdn'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                parameter = np.array([(np.array([item['transfer']['parameter'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                transfer = np.array([(np.array([item['transfer'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
            table.append([dataset, '%.3f +/- %.3f' % (parameter.mean(), 2 * parameter.std()),
            '%.3f +/- %.3f' % (transfer.mean(), 2 * transfer.std()),
            '%.3f +/- %.3f' % (scratch.mean(), 2 * scratch.std())
            ])
                          #])
    display(pd.DataFrame(table, columns=['Experiment', 'Transfer Learning', 'Transfer Learning with Revision Theory', 'Learning from scratch (MLN-B)']))
    #display(pd.DataFrame(table, columns=['Experiment', 'Transfer Learning', 'Transfer Learning with Revision Theory']))

# Results for AUC ROC

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,0.930 +/- 0.000,0.939 +/- 0.003,0.893 +/- 0.067
1,2_uwcse_imdb,0.999 +/- 0.002,1.000 +/- 0.000,0.996 +/- 0.005
2,53_cora_imdb,0.958 +/- 0.090,0.999 +/- 0.002,0.997 +/- 0.007
3,54_cora_imdb,0.868 +/- 0.000,1.000 +/- 0.001,0.998 +/- 0.003
4,15_yeast_twitter,0.986 +/- 0.016,0.993 +/- 0.001,0.819 +/- 0.017
5,22_twitter_yeast,0.986 +/- 0.005,0.986 +/- 0.005,0.674 +/- 0.018
6,37_nell_sports_nell_finances,0.976 +/- 0.005,0.976 +/- 0.004,0.503 +/- 0.004
7,116_un_uwcse_webkb,0.888 +/- 0.036,0.916 +/- 0.019,0.995 +/- 0.004

# Results for AUC PR

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,0.293 +/- 0.000,0.298 +/- 0.025,0.152 +/- 0.048
1,2_uwcse_imdb,0.990 +/- 0.040,1.000 +/- 0.000,0.824 +/- 0.167
2,53_cora_imdb,0.727 +/- 0.634,0.952 +/- 0.086,0.879 +/- 0.260
3,54_cora_imdb,0.092 +/- 0.000,0.979 +/- 0.051,0.905 +/- 0.135
4,15_yeast_twitter,0.394 +/- 0.071,0.362 +/- 0.040,0.312 +/- 0.000
5,22_twitter_yeast,0.273 +/- 0.117,0.272 +/- 0.119,0.154 +/- 0.040
6,37_nell_sports_nell_finances,0.057 +/- 0.045,0.058 +/- 0.042,0.007 +/- 0.004
7,116_un_uwcse_webkb,0.013 +/- 0.005,0.292 +/- 0.151,0.414 +/- 0.162

# Results for CLL

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,-0.262 +/- 0.017,-0.241 +/- 0.010,-0.707 +/- 0.700
1,2_uwcse_imdb,-0.081 +/- 0.036,-0.067 +/- 0.005,-0.617 +/- 1.069
2,53_cora_imdb,-0.213 +/- 0.102,-0.077 +/- 0.004,-0.434 +/- 0.920
3,54_cora_imdb,-0.307 +/- 0.003,-0.075 +/- 0.002,-0.262 +/- 0.234
4,15_yeast_twitter,-0.138 +/- 0.030,-0.118 +/- 0.007,-0.249 +/- 0.002
5,22_twitter_yeast,-0.180 +/- 0.043,-0.180 +/- 0.042,-0.288 +/- 0.020
6,37_nell_sports_nell_finances,-0.172 +/- 0.012,-0.171 +/- 0.010,-0.205 +/- 0.006
7,116_un_uwcse_webkb,-0.287 +/- 0.026,-0.080 +/- 0.008,-0.203 +/- 0.016

# Results for Recall

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,1.000 +/- 0.000,0.848 +/- 0.047,0.725 +/- 0.207
1,2_uwcse_imdb,0.978 +/- 0.086,1.000 +/- 0.000,0.880 +/- 0.320
2,53_cora_imdb,0.894 +/- 0.109,1.000 +/- 0.000,0.960 +/- 0.160
3,54_cora_imdb,1.000 +/- 0.000,1.000 +/- 0.000,0.960 +/- 0.160
4,15_yeast_twitter,0.854 +/- 0.112,0.956 +/- 0.042,0.409 +/- 0.031
5,22_twitter_yeast,0.820 +/- 0.288,0.844 +/- 0.250,0.256 +/- 0.059
6,37_nell_sports_nell_finances,0.876 +/- 0.054,0.884 +/- 0.071,0.015 +/- 0.004
7,116_un_uwcse_webkb,0.695 +/- 0.615,0.392 +/- 0.301,0.870 +/- 0.000

# Results for F1

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,0.232 +/- 0.000,0.285 +/- 0.018,nan +/- nan
1,2_uwcse_imdb,0.988 +/- 0.047,1.000 +/- 0.000,nan +/- nan
2,53_cora_imdb,0.624 +/- 0.480,0.892 +/- 0.022,nan +/- nan
3,54_cora_imdb,0.169 +/- 0.000,0.880 +/- 0.000,nan +/- nan
4,15_yeast_twitter,0.483 +/- 0.018,0.506 +/- 0.004,0.468 +/- 0.027
5,22_twitter_yeast,0.314 +/- 0.047,0.311 +/- 0.047,0.202 +/- 0.049
6,37_nell_sports_nell_finances,0.044 +/- 0.003,0.042 +/- 0.007,0.007 +/- 0.004
7,116_un_uwcse_webkb,nan +/- nan,nan +/- nan,0.389 +/- 0.068

# Results for Precision

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,0.131 +/- 0.000,0.174 +/- 0.014,nan +/- nan
1,2_uwcse_imdb,1.000 +/- 0.000,1.000 +/- 0.000,0.324 +/- 0.068
2,53_cora_imdb,0.637 +/- 0.563,0.811 +/- 0.038,0.318 +/- 0.103
3,54_cora_imdb,0.092 +/- 0.000,0.792 +/- 0.000,0.343 +/- 0.029
4,15_yeast_twitter,0.337 +/- 0.000,0.344 +/- 0.010,0.563 +/- 0.018
5,22_twitter_yeast,0.204 +/- 0.056,0.198 +/- 0.053,0.210 +/- 0.104
6,37_nell_sports_nell_finances,0.023 +/- 0.002,0.022 +/- 0.004,0.005 +/- 0.004
7,116_un_uwcse_webkb,nan +/- nan,nan +/- nan,0.330 +/- 0.113

# Results for Learning and Revision time

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,1.188 +/- 0.052,9.524 +/- 0.620,4.190 +/- 1.381
1,2_uwcse_imdb,1.954 +/- 0.095,8.077 +/- 0.993,3.804 +/- 0.977
2,53_cora_imdb,2.819 +/- 4.157,10.700 +/- 5.478,3.769 +/- 0.721
3,54_cora_imdb,1.475 +/- 0.411,6.727 +/- 1.724,3.964 +/- 0.686
4,15_yeast_twitter,6.115 +/- 0.371,114.712 +/- 47.800,114.099 +/- 1.769
5,22_twitter_yeast,4.144 +/- 1.247,60.986 +/- 47.321,9.677 +/- 2.332
6,37_nell_sports_nell_finances,17.959 +/- 13.438,142.102 +/- 20.253,16.223 +/- 4.794
7,116_un_uwcse_webkb,11.739 +/- 11.481,1125.109 +/- 244.512,6803.684 +/- 5543.279

# Results for Inference time

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch (MLN-B)
0,1_imdb_uwcse,1.846 +/- 0.122,2.136 +/- 0.100,5.850 +/- 9.657
1,2_uwcse_imdb,3.667 +/- 0.574,3.134 +/- 0.450,5.948 +/- 5.963
2,53_cora_imdb,3.472 +/- 0.337,3.622 +/- 0.634,4.510 +/- 3.003
3,54_cora_imdb,2.858 +/- 0.774,2.722 +/- 0.554,4.201 +/- 0.984
4,15_yeast_twitter,25.787 +/- 11.740,58.245 +/- 40.233,21.013 +/- 5.150
5,22_twitter_yeast,17.888 +/- 4.846,29.357 +/- 41.997,13.618 +/- 2.915
6,37_nell_sports_nell_finances,105.171 +/- 35.136,101.908 +/- 40.023,256.939 +/- 515.308
7,116_un_uwcse_webkb,2098.964 +/- 3643.460,1931.393 +/- 420.082,546.382 +/- 106.070

In [7]:
import os

path = '../transfer_experiment/todtler_scored/'

todtler_results = {}
for metric in ['AUC ROC', 'AUC PR', 'CLL']:
    display(Markdown('# Results in TODTLER for ' + metric))
    table = []
    for j in range(len(experiments)):
        dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
        if os.path.isfile(path + dataset + '.json'):
            with open(path + dataset + '.json', 'r') as fp:
                get_results = json.load(fp)
                todtler_results[dataset] = get_results

# Results in TODTLER for AUC ROC

# Results in TODTLER for AUC PR

# Results in TODTLER for CLL

In [6]:
for j in range(len(experiments)):
    dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
    if dataset in data['results']: 
        display(Markdown('# Results for ' + dataset))
    table = []
    for metric in ['AUC ROC', 'AUC PR', 'CLL']: #, 'Recall', 'F1', 'Precision', 'Learning and Revision time', 'Inference time']:
    #for metric in ['AUC ROC', 'AUC PR']:
        if dataset in data['results']: 
            #for metric in ['AUC ROC', 'AUC PR']:
            display(Markdown('## ' + metric))
            if metric == 'Precision':
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['mln_b']['Precision'][0] for item in data_mln['results'][str(dataset)][m]]
                    sc_rdn = [item['rdn']['Precision'][0] for item in data['results'][str(dataset)][m]]
                    pr = [item['transfer']['parameter']['Precision'][0] for item in data['results'][str(dataset)][m]]
                    tr = [item['transfer']['Precision'][0] for item in data['results'][str(dataset)][m]] 
                    print('Scratch: %s' % sc)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
            #elif metric == 'Learning and Revision time':
            #    for m in range(len(data['results'][str(dataset)])):
            #        print('Experiment %s' % (m+1))
            #        sc = [item['rdn_b']['Learning time'] for item in data['results'][str(dataset)][m]]
            #        sc_rdn = [item['rdn']['Learning time'] for item in data['results'][str(dataset)][m]]
            #        pr = ['%s (%.1f)' % (item['transfer']['parameter']['Learning time'], item['transfer']['Mapping results']['Total time']) for item in data['results'][str(dataset)][m]]
            #        tr = ['%s (%.1f)' % (item['transfer']['Learning time'], item['transfer']['Mapping results']['Total time']) for item in data['results'][str(dataset)][m]] 
            #        print('Scratch: %s' % sc)
            #        print('Transfer: %s' % pr)
            #        print('Transfer & Revision: %s' % tr) 
            #        print('\n')
                #scratch = np.array([item['scratch']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
            #elif metric == 'Inference time':
            #    for m in range(len(data['results'][str(dataset)])):
            #        print('Experiment %s' % (m+1))
            #        sc = [item['rdn_b']['Inference time'] for item in data['results'][str(dataset)][m]]
            #        sc_rdn = [item['rdn']['Inference time'] for item in data['results'][str(dataset)][m]]
            #        pr = [item['transfer']['parameter']['Inference time'] for item in data['results'][str(dataset)][m]]
            #        tr = [item['transfer']['Inference time'] for item in data['results'][str(dataset)][m]] 
            #        print('Scratch: %s' % sc)
            #        print('Transfer: %s' % pr)
            #        print('Transfer & Revision: %s' % tr) 
            #        print('\n')
                #scratch = np.array([item['scratch']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
            else:
                sc_sum = np.zeros(len(data['results'][str(dataset)][0]))
                sc_rdn_sum = np.zeros(len(data['results'][str(dataset)][0]))
                pr_sum = np.zeros(len(data['results'][str(dataset)][0]))
                tr_sum = np.zeros(len(data['results'][str(dataset)][0]))
                if 'nell' not in dataset:
                    tod_sum = np.array([i[metric] for i in todtler_results[dataset]])
                else:
                    tod_sum = np.array([np.nan, np.nan, np.nan])
                for m in range(len(data['results'][str(dataset)][0])):
                    sc_sum += np.array([item['mln_b'][metric] for item in data_mln['results'][str(dataset)][m]])
                    sc_rdn_sum += np.array([item['rdn'][metric] for item in data['results'][str(dataset)][m]])
                    pr_sum += np.array([item['transfer']['parameter'][metric] for item in data['results'][str(dataset)][m]])
                    tr_sum += np.array([item['transfer'][metric] for item in data['results'][str(dataset)][m]])
                sc_sum /= len(data['results'][str(dataset)])
                sc_rdn_sum /= len(data['results'][str(dataset)])
                pr_sum /= len(data['results'][str(dataset)])
                tr_sum /= len(data['results'][str(dataset)])
                #tod_sum /= len(data['results'][str(dataset)])
                pvalue_table = []
                pvalue = stats.ttest_rel(tr_sum, sc_sum)
                pvalue2 = stats.ttest_rel(tr_sum, sc_rdn_sum)
                pvalue3 = stats.ttest_rel(tr_sum, tod_sum)
                #print(pvalue)
                pvalue_table.append(['TreeBoostler', '%.3f' % (pvalue[1]), '%.3f' % (pvalue2[1]), '%.3f' % (pvalue3[1])])
                pvalue = stats.ttest_rel(pr_sum, sc_sum)
                pvalue2 = stats.ttest_rel(pr_sum, sc_rdn_sum)
                pvalue3 = stats.ttest_rel(pr_sum, tod_sum)
                #print(pvalue)
                pvalue_table.append(['TreeBoostler*', '%.3f' % (pvalue[1]), '%.3f' % (pvalue2[1]), '%.3f' % (pvalue3[1])])
                display(pd.DataFrame(pvalue_table, columns=['p-value', 'MLN-B', 'RDN', 'TODTLER']))
                
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['mln_b'][metric] for item in data_mln['results'][str(dataset)][m]]
                    sc_rdn = [item['rdn'][metric] for item in data['results'][str(dataset)][m]]
                    pr = [item['transfer']['parameter'][metric] for item in data['results'][str(dataset)][m]]
                    tr = [item['transfer'][metric] for item in data['results'][str(dataset)][m]] 
                    print('Scratch MLN-B: %s' % sc)
                    print('Scratch RDN: %s' % sc_rdn)
                    print('TODTLER: %s' % tod_sum)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
            #print('\n')
            #print('Scratch: %s' % scratch)
            #print('Transfer: %s' % parameter)
            #print('Transfer & Revision: %s' % transfer)

# Results for 1_imdb_uwcse

## AUC ROC

NameError: name 'todtler_results' is not defined

In [5]:
for j in range(len(experiments)):
    table = []
    dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
    if dataset in data['results']:
        display(Markdown('# Results for ' + dataset))
        values = {'scratch': {}, 'scratch_rdn': {}, 'parameter': {}, 'transfer': {}, 'mapping_time': {}}
        for metric in ['CLL', 'AUC ROC', 'AUC PR', 'Learning and Revision time']:
            mapping_time = ''
            if metric == 'Precision':
                values['scratch'][metric] = np.array([(np.array([item['mln_b']['Precision'][0] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                values['scratch_rdn'][metric] = np.array([(np.array([item['rdn']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['parameter'][metric] = np.array([(np.array([item['transfer']['parameter']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['transfer'][metric] = np.array([(np.array([item['transfer']['Precision'][0] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
            elif metric == 'Learning and Revision time':
                values['scratch'][metric] = np.array([(np.array([item['mln_b']['Learning time'] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                values['scratch_rdn'][metric] = np.array([(np.array([item['rdn']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['parameter'][metric] = np.array([(np.array([item['transfer']['parameter']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['transfer'][metric] = np.array([(np.array([item['transfer']['Learning time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                #mapping = np.array([(np.array([item['transfer']['Mapping results']['Total time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                #values['mapping_time'] = '(%.1f)' % mapping.mean()
            elif metric == 'Inference time':
                values['scratch'][metric] = np.array([(np.array([item['mln_b']['Inference time'] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                values['scratch_rdn'][metric] = np.array([(np.array([item['rdn']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['parameter'][metric] = np.array([(np.array([item['transfer']['parameter']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['transfer'][metric] = np.array([(np.array([item['transfer']['Inference time'] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
            else:
                values['scratch'][metric] = np.array([(np.array([item['mln_b'][metric] for item in sublist])).mean() for sublist in data_mln['results'][str(dataset)]])
                values['scratch_rdn'][metric] = np.array([(np.array([item['rdn'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['parameter'][metric] = np.array([(np.array([item['transfer']['parameter'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])
                values['transfer'][metric] = np.array([(np.array([item['transfer'][metric] for item in sublist])).mean() for sublist in data['results'][str(dataset)]])

        print('RDN         & %.3f & %.3f & %.3f & %.2f \\\\' % (values['scratch_rdn']['CLL'].mean(), values['scratch_rdn']['AUC ROC'].mean(), values['scratch_rdn']['AUC PR'].mean(), values['scratch_rdn']['Learning and Revision time'].mean()))
        print('MLN-B       & %.3f & %.3f & %.3f & %.2f \\\\' % (values['scratch']['CLL'].mean(), values['scratch']['AUC ROC'].mean(), values['scratch']['AUC PR'].mean(), values['scratch']['Learning and Revision time'].mean()))
        #print('trRDN-B     & %.3f & %.3f & %.3f & %.3f%s \\\\' % (values['parameter']['CLL'].mean(), values['parameter']['AUC ROC'].mean(), values['parameter']['AUC PR'].mean(), values['parameter']['Learning and Revision time'].mean(), values['mapping_time']))
        #print('trRDN-B Ref & %.3f & %.3f & %.3f & %.3f%s \\\\' % (values['transfer']['CLL'].mean(), values['transfer']['AUC ROC'].mean(), values['transfer']['AUC PR'].mean(), values['transfer']['Learning and Revision time'].mean(), values['mapping_time']))
        print('TreeBoostler*     & %.3f & %.3f & %.3f & %.2f \\\\' % (values['parameter']['CLL'].mean(), values['parameter']['AUC ROC'].mean(), values['parameter']['AUC PR'].mean(), values['parameter']['Learning and Revision time'].mean()))
        print('TreeBoostler & %.3f & %.3f & %.3f & %.2f \\\\' % (values['transfer']['CLL'].mean(), values['transfer']['AUC ROC'].mean(), values['transfer']['AUC PR'].mean(), values['transfer']['Learning and Revision time'].mean()))

# Results for 1_imdb_uwcse

RDN         & -0.195 & 0.918 & 0.243 & 1.92 \\
MLN-B       & -0.707 & 0.893 & 0.152 & 4.19 \\
TreeBoostler*     & -0.262 & 0.930 & 0.293 & 1.19 \\
TreeBoostler & -0.241 & 0.939 & 0.298 & 9.52 \\

# Results for 2_uwcse_imdb

RDN         & -0.167 & 0.991 & 0.764 & 1.05 \\
MLN-B       & -0.617 & 0.996 & 0.824 & 3.80 \\
TreeBoostler*     & -0.081 & 0.999 & 0.990 & 1.95 \\
TreeBoostler & -0.067 & 1.000 & 1.000 & 8.08 \\

# Results for 53_cora_imdb

RDN         & -0.166 & 0.994 & 0.813 & 1.17 \\
MLN-B       & -0.434 & 0.997 & 0.879 & 3.77 \\
TreeBoostler*     & -0.213 & 0.958 & 0.727 & 2.82 \\
TreeBoostler & -0.077 & 0.999 & 0.952 & 10.70 \\

# Results for 54_cora_imdb

RDN         & -0.168 & 0.987 & 0.720 & 0.94 \\
MLN-B       & -0.262 & 0.998 & 0.905 & 3.96 \\
TreeBoostler*     & -0.307 & 0.868 & 0.092 & 1.48 \\
TreeBoostler & -0.075 & 1.000 & 0.979 & 6.73 \\

# Results for 15_yeast_twitter

RDN         & -0.155 & 0.964 & 0.271 & 4.08 \\
MLN-B       & -0.249 & 0.819 & 0.312 & 114.10 \\
TreeBoostler*     & -0.138 & 0.986 & 0.394 & 6.12 \\
TreeBoostler & -0.118 & 0.993 & 0.362 & 114.71 \\

# Results for 22_twitter_yeast

RDN         & -0.182 & 0.695 & 0.081 & 4.46 \\
MLN-B       & -0.288 & 0.674 & 0.154 & 9.68 \\
TreeBoostler*     & -0.180 & 0.986 & 0.273 & 4.14 \\
TreeBoostler & -0.180 & 0.986 & 0.272 & 60.99 \\

# Results for 37_nell_sports_nell_finances

RDN         & -0.182 & 0.552 & 0.031 & 4.74 \\
MLN-B       & -0.205 & 0.503 & 0.007 & 16.22 \\
TreeBoostler*     & -0.172 & 0.976 & 0.057 & 17.96 \\
TreeBoostler & -0.171 & 0.976 & 0.058 & 142.10 \\

# Results for 116_un_uwcse_webkb

RDN         & -0.141 & 0.571 & 0.032 & 110.87 \\
MLN-B       & -0.203 & 0.995 & 0.414 & 6803.68 \\
TreeBoostler*     & -0.287 & 0.888 & 0.013 & 11.74 \\
TreeBoostler & -0.080 & 0.916 & 0.292 & 1125.11 \\