In [1]:
import matplotlib.pyplot as plt
from IPython.display import display, Markdown, Latex
import numpy as np
import json
import pandas as pd
from scipy import stats

with open('transfer_experiment.json', 'r') as fp:
    data = json.load(fp)

In [2]:
experiments = [
            {'id': '1', 'source':'imdb', 'target':'uwcse', 'predicate':'workedunder', 'to_predicate':'advisedby'},
            {'id': '2', 'source':'uwcse', 'target':'imdb', 'predicate':'advisedby', 'to_predicate':'workedunder'},
            {'id': '3', 'source':'imdb', 'target':'uwcse', 'predicate':'movie', 'to_predicate':'publication'},
            {'id': '4', 'source':'uwcse', 'target':'imdb', 'predicate':'publication', 'to_predicate':'movie'},
            {'id': '5', 'source':'imdb', 'target':'uwcse', 'predicate':'genre', 'to_predicate':'inphase'},
            {'id': '6', 'source':'uwcse', 'target':'imdb', 'predicate':'inphase', 'to_predicate':'genre'},
            {'id': '7', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'samevenue'},
            {'id': '8', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'samebib'},
            {'id': '9', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'sameauthor'},
            {'id': '10', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'sametitle'},
            {'id': '11', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'samevenue'},
            {'id': '12', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'samebib'},
            {'id': '13', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'sameauthor'},
            {'id': '14', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'sametitle'},
            {'id': '15', 'source':'yeast', 'target':'twitter', 'predicate':'proteinclass', 'to_predicate':'accounttype'},
            {'id': '16', 'source':'yeast', 'target':'twitter', 'predicate':'interaction', 'to_predicate':'follows'},
            {'id': '17', 'source':'yeast', 'target':'twitter', 'predicate':'location', 'to_predicate':'tweets'},
            {'id': '18', 'source':'yeast', 'target':'twitter', 'predicate':'enzyme', 'to_predicate':'tweets'},
            {'id': '19', 'source':'yeast', 'target':'twitter', 'predicate':'function', 'to_predicate':'tweets'},
            {'id': '20', 'source':'yeast', 'target':'twitter', 'predicate':'phenotype', 'to_predicate':'tweets'},
            {'id': '21', 'source':'yeast', 'target':'twitter', 'predicate':'complex', 'to_predicate':'tweets'},
            {'id': '22', 'source':'twitter', 'target':'yeast', 'predicate':'accounttype', 'to_predicate':'proteinclass'},
            {'id': '23', 'source':'twitter', 'target':'yeast', 'predicate':'follows', 'to_predicate':'interaction'},
            {'id': '24', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'location'},
            {'id': '25', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'enzyme'},
            {'id': '26', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'function'},
            {'id': '27', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'phenotype'},
            {'id': '28', 'source':'twitter', 'target':'yeast', 'predicate':'tweets', 'to_predicate':'complex'},
            {'id': '29', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamalsoknownas', 'to_predicate':'companyalsoknownas'},
            {'id': '30', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'companyalsoknownas'},
            {'id': '31', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'acquired'},
            {'id': '32', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplaysagainstteam', 'to_predicate':'bankboughtbank'},
            {'id': '33', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplayssport', 'to_predicate':'companyceo'},
            {'id': '34', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplayssport', 'to_predicate':'bankchiefexecutiveceo'},
            {'id': '35', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplaysforteam', 'to_predicate':'bankchiefexecutiveceo'},
            {'id': '36', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'athleteplaysforteam', 'to_predicate':'companyceo'},
            {'id': '37', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplayssport', 'to_predicate':'companyeconomicsector'},
            {'id': '38', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyalsoknownas', 'to_predicate':'teamalsoknownas'},
            {'id': '39', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyalsoknownas', 'to_predicate':'teamplaysagainstteam'},
            {'id': '40', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'acquired', 'to_predicate':'teamplaysagainstteam'},
            {'id': '41', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankboughtbank', 'to_predicate':'teamplaysagainstteam'},
            {'id': '42', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyceo', 'to_predicate':'athleteplayssport'},
            {'id': '43', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankchiefexecutiveceo', 'to_predicate':'athleteplayssport'},
            {'id': '44', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'bankchiefexecutiveceo', 'to_predicate':'athleteplaysforteam'},
            {'id': '45', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyceo', 'to_predicate':'athleteplaysforteam'},
            {'id': '46', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyeconomicsector', 'to_predicate':'teamplayssport'},
            {'id': '47', 'source':'yeast', 'target':'facebook', 'predicate':'interaction', 'to_predicate':'edge'},
            {'id': '48', 'source':'twitter', 'target':'facebook', 'predicate':'follows', 'to_predicate':'edge'},
            {'id': '49', 'source':'imdb', 'target':'facebook', 'predicate':'workedunder', 'to_predicate':'edge'},
            {'id': '50', 'source':'uwcse', 'target':'facebook', 'predicate':'advisedby', 'to_predicate':'edge'},
]

for metric in ['AUC ROC', 'AUC PR', 'CLL', 'Recall', 'F1', 'Precision', 'Learning and Revision time', 'Inference time']:
    display(Markdown('# Results for ' + metric))
    table = []
    for j in range(len(experiments)):
        dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
        if dataset in data['results']: 
            #for metric in ['AUC ROC', 'AUC PR']:
                #display(Markdown('## ' + metric))
            mapping_time = ''
            if metric == 'Precision':
                scratch = np.array([item['scratch']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                parameter = np.array([item['transfer']['Parameter Learning results']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                transfer = np.array([item['transfer']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
            elif metric == 'Learning and Revision time':
                scratch = np.array([item['scratch']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                transfer = np.array([item['transfer']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                mapping = np.array([item['transfer']['Mapping results']['Total time'] for sublist in data['results'][str(dataset)] for item in sublist])
                mapping_time = ' (%.1f)' % mapping.mean()
            elif metric == 'Inference time':
                scratch = np.array([item['scratch']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
                parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                transfer = np.array([item['transfer']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
            else:
                scratch = np.array([item['scratch'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                parameter = np.array([item['transfer']['Parameter Learning results'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                transfer = np.array([item['transfer'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
            table.append([dataset, '%.3f +/- %.3f%s' % (parameter.mean(), 2 * parameter.std(), mapping_time),
            '%.3f +/- %.3f%s' % (transfer.mean(), 2 * transfer.std(), mapping_time),
            '%.3f +/- %.3f' % (scratch.mean(), 2 * scratch.std())])
    display(pd.DataFrame(table, columns=['Experiment', 'Transfer Learning', 'Transfer Learning with Revision Theory', 'Learning from scratch']))

# Results for AUC ROC

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,0.695 +/- 0.236,0.763 +/- 0.288,0.723 +/- 0.065

# Results for AUC PR

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,0.710 +/- 0.255,0.767 +/- 0.288,0.745 +/- 0.060

# Results for CLL

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,-0.604 +/- 0.113,-0.551 +/- 0.165,-0.606 +/- 0.043

# Results for Recall

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,0.452 +/- 0.545,0.484 +/- 0.546,0.292 +/- 0.104

# Results for F1

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,nan +/- nan,nan +/- nan,0.437 +/- 0.124

# Results for Precision

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,nan +/- nan,nan +/- nan,0.900 +/- 0.070

# Results for Learning and Revision time

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,25.292 +/- 44.127 (27.4),57.935 +/- 78.273 (27.4),15.945 +/- 20.045

# Results for Inference time

,Experiment,Transfer Learning,Transfer Learning with Revision Theory,Learning from scratch
0,37_nell_sports_nell_finances,25.292 +/- 44.127,4.709 +/- 8.096,1.575 +/- 0.599

In [3]:
for j in range(len(experiments)):
    dataset = experiments[j]['id'] + '_' + experiments[j]['source'] + '_' + experiments[j]['target']
    display(Markdown('# Results for ' + dataset))
    table = []
    for metric in ['AUC ROC', 'AUC PR', 'CLL', 'Recall', 'F1', 'Precision', 'Learning and Revision time', 'Inference time']:
    #for metric in ['AUC ROC', 'AUC PR']:
        if dataset in data['results']: 
            #for metric in ['AUC ROC', 'AUC PR']:
            display(Markdown('## ' + metric))
            if metric == 'Precision':
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['scratch']['Precision'][0] for item in data['results'][str(dataset)][m]]
                    pr = [item['transfer']['Parameter Learning results']['Precision'][0] for item in data['results'][str(dataset)][m]]
                    tr = [item['transfer']['Precision'][0] for item in data['results'][str(dataset)][m]] 
                    print('Scratch: %s' % sc)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Precision'][0] for sublist in data['results'][str(dataset)] for item in sublist])
            elif metric == 'Learning and Revision time':
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['scratch']['Learning time'] for item in data['results'][str(dataset)][m]]
                    pr = ['%s (%.1f)' % (item['transfer']['Parameter Learning results']['Learning time'], item['transfer']['Mapping results']['Total time']) for item in data['results'][str(dataset)][m]]
                    tr = ['%s (%.1f)' % (item['transfer']['Learning time'], item['transfer']['Mapping results']['Total time']) for item in data['results'][str(dataset)][m]] 
                    print('Scratch: %s' % sc)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
            elif metric == 'Inference time':
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['scratch']['Inference time'] for item in data['results'][str(dataset)][m]]
                    pr = [item['transfer']['Parameter Learning results']['Inference time'] for item in data['results'][str(dataset)][m]]
                    tr = [item['transfer']['Inference time'] for item in data['results'][str(dataset)][m]] 
                    print('Scratch: %s' % sc)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results']['Learning time'] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer']['Inference time'] for sublist in data['results'][str(dataset)] for item in sublist])
            else:
                for m in range(len(data['results'][str(dataset)])):
                    print('Experiment %s' % (m+1))
                    sc = [item['scratch'][metric] for item in data['results'][str(dataset)][m]]
                    pr = [item['transfer']['Parameter Learning results'][metric] for item in data['results'][str(dataset)][m]]
                    tr = [item['transfer'][metric] for item in data['results'][str(dataset)][m]] 
                    pvalue = stats.ttest_rel(tr,sc)
                    print(pvalue)
                    pvalue_table = []
                    pvalue_table.append(['transferRDN-B Ref', '%.3f' % (pvalue[1])])
                    pvalue = stats.ttest_rel(pr, sc)
                    print(pvalue)
                    pvalue_table.append(['transferRDN-B', '%.3f' % (pvalue[1])])
                    display(pd.DataFrame(pvalue_table, columns=['p-value', 'RDN-B']))
                    print('Scratch: %s' % sc)
                    print('Transfer: %s' % pr)
                    print('Transfer & Revision: %s' % tr) 
                    print('\n')
                #scratch = np.array([item['scratch'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                #parameter = np.array([item['transfer']['Parameter Learning results'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
                #transfer = np.array([item['transfer'][metric] for sublist in data['results'][str(dataset)] for item in sublist])
            #print('\n')
            #print('Scratch: %s' % scratch)
            #print('Transfer: %s' % parameter)
            #print('Transfer & Revision: %s' % transfer)

# Results for 1_imdb_uwcse

# Results for 2_uwcse_imdb

# Results for 3_imdb_uwcse

# Results for 4_uwcse_imdb

# Results for 5_imdb_uwcse

# Results for 6_uwcse_imdb

# Results for 7_imdb_cora

# Results for 8_imdb_cora

# Results for 9_imdb_cora

# Results for 10_imdb_cora

# Results for 11_uwcse_cora

# Results for 12_uwcse_cora

# Results for 13_uwcse_cora

# Results for 14_uwcse_cora

# Results for 15_yeast_twitter

# Results for 16_yeast_twitter

# Results for 17_yeast_twitter

# Results for 18_yeast_twitter

# Results for 19_yeast_twitter

# Results for 20_yeast_twitter

# Results for 21_yeast_twitter

# Results for 22_twitter_yeast

# Results for 23_twitter_yeast

# Results for 24_twitter_yeast

# Results for 25_twitter_yeast

# Results for 26_twitter_yeast

# Results for 27_twitter_yeast

# Results for 28_twitter_yeast

# Results for 29_nell_sports_nell_finances

# Results for 30_nell_sports_nell_finances

# Results for 31_nell_sports_nell_finances

# Results for 32_nell_sports_nell_finances

# Results for 33_nell_sports_nell_finances

# Results for 34_nell_sports_nell_finances

# Results for 35_nell_sports_nell_finances

# Results for 36_nell_sports_nell_finances

# Results for 37_nell_sports_nell_finances

## AUC ROC

Experiment 1
Ttest_relResult(statistic=11.09985458203551, pvalue=0.008018940163342952)
Ttest_relResult(statistic=2.9756727553859617, pvalue=0.09681297578184506)

             p-value  RDN-B
0  transferRDN-B Ref  0.008
1      transferRDN-B  0.097

Scratch: [0.727738, 0.765466, 0.692193]
Transfer: [0.768343, 0.778754, 0.746953]
Transfer & Revision: [0.841142, 0.866031, 0.828733]


Experiment 2
Ttest_relResult(statistic=0.33541204514812245, pvalue=0.7692295651389027)
Ttest_relResult(statistic=-0.5132048319367344, pvalue=0.6588761563480544)

             p-value  RDN-B
0  transferRDN-B Ref  0.769
1      transferRDN-B  0.659

Scratch: [0.732018, 0.7262, 0.699318]
Transfer: [0.5, 0.776828, 0.738499]
Transfer & Revision: [0.555051, 0.869477, 0.839987]


Experiment 3
Ttest_relResult(statistic=0.13382614820219704, pvalue=0.9057914883964624)
Ttest_relResult(statistic=-0.31637184633371845, pvalue=0.781687422498904)

             p-value  RDN-B
0  transferRDN-B Ref  0.906
1      transferRDN-B  0.782

Scratch: [0.705682, 0.714258, 0.729898]
Transfer: [0.77734, 0.778279, 0.5]
Transfer & Revision: [0.845329, 0.853968, 0.5]


Experiment 4
Ttest_relResult(statistic=-0.012854862150582746, pvalue=0.9909106152938301)
Ttest_relResult(statistic=-0.5601998646882801, pvalue=0.6317202418022354)

             p-value  RDN-B
0  transferRDN-B Ref  0.991
1      transferRDN-B  0.632

Scratch: [0.683679, 0.750477, 0.751357]
Transfer: [0.770352, 0.5, 0.746058]
Transfer & Revision: [0.853463, 0.5, 0.827139]


Experiment 5
Ttest_relResult(statistic=18.272994496931137, pvalue=0.002981500551771731)
Ttest_relResult(statistic=6.668453605033438, pvalue=0.021756737084666643)

             p-value  RDN-B
0  transferRDN-B Ref  0.003
1      transferRDN-B  0.022

Scratch: [0.739589, 0.759912, 0.70968]
Transfer: [0.774646, 0.784097, 0.7511]
Transfer & Revision: [0.860203, 0.862085, 0.831058]


Experiment 6
Ttest_relResult(statistic=0.21480756163055229, pvalue=0.8498305294203878)
Ttest_relResult(statistic=-0.13469791186790117, pvalue=0.9051832994683127)

             p-value  RDN-B
0  transferRDN-B Ref  0.850
1      transferRDN-B  0.905

Scratch: [0.600714, 0.752178, 0.714011]
Transfer: [0.777834, 0.5, 0.738303]
Transfer & Revision: [0.833407, 0.5, 0.8275]


Experiment 7
Ttest_relResult(statistic=0.0988595005725459, pvalue=0.9302659503396334)
Ttest_relResult(statistic=-0.4930179197068559, pvalue=0.6708138051347089)

             p-value  RDN-B
0  transferRDN-B Ref  0.930
1      transferRDN-B  0.671

Scratch: [0.703562, 0.739807, 0.728162]
Transfer: [0.763963, 0.771768, 0.5]
Transfer & Revision: [0.847405, 0.859781, 0.5]


Experiment 8
Ttest_relResult(statistic=1.0713029282122337, pvalue=0.39616773218939794)
Ttest_relResult(statistic=-0.8104459296193636, pvalue=0.5027866662752487)

             p-value  RDN-B
0  transferRDN-B Ref  0.396
1      transferRDN-B  0.503

Scratch: [0.732288, 0.784177, 0.716224]
Transfer: [0.5, 0.776837, 0.75319]
Transfer & Revision: [0.693851, 0.849145, 0.853989]


Experiment 9
Ttest_relResult(statistic=0.04635678108502767, pvalue=0.9672384017839974)
Ttest_relResult(statistic=-0.44156381825444574, pvalue=0.7019574061997074)

             p-value  RDN-B
0  transferRDN-B Ref  0.967
1      transferRDN-B  0.702

Scratch: [0.720085, 0.750518, 0.688016]
Transfer: [0.771455, 0.5, 0.751182]
Transfer & Revision: [0.847753, 0.5, 0.828707]


Experiment 10
Ttest_relResult(statistic=0.11161249052116941, pvalue=0.9213226983540868)
Ttest_relResult(statistic=-0.5027301090356197, pvalue=0.6650502977570224)

             p-value  RDN-B
0  transferRDN-B Ref  0.921
1      transferRDN-B  0.665

Scratch: [0.716729, 0.746493, 0.708266]
Transfer: [0.765444, 0.780407, 0.5]
Transfer & Revision: [0.844889, 0.863544, 0.5]

## AUC PR

Experiment 1
Ttest_relResult(statistic=13.656001272138488, pvalue=0.005319572314566913)
Ttest_relResult(statistic=4.432993459932884, pvalue=0.04730521533113098)

             p-value  RDN-B
0  transferRDN-B Ref  0.005
1      transferRDN-B  0.047

Scratch: [0.748429, 0.783514, 0.723165]
Transfer: [0.792146, 0.802713, 0.764984]
Transfer & Revision: [0.8521, 0.869574, 0.833888]


Experiment 2
Ttest_relResult(statistic=0.23841698726110977, pvalue=0.8337595674793565)
Ttest_relResult(statistic=-0.5059049829047783, pvalue=0.6631743171587664)

             p-value  RDN-B
0  transferRDN-B Ref  0.834
1      transferRDN-B  0.663

Scratch: [0.75547, 0.751832, 0.723462]
Transfer: [0.5, 0.812942, 0.762862]
Transfer & Revision: [0.583962, 0.876307, 0.840153]


Experiment 3
Ttest_relResult(statistic=-0.03750988193960808, pvalue=0.9734858327795946)
Ttest_relResult(statistic=-0.3700805977655419, pvalue=0.7468382109614905)

             p-value  RDN-B
0  transferRDN-B Ref  0.973
1      transferRDN-B  0.747

Scratch: [0.729646, 0.739083, 0.752426]
Transfer: [0.798658, 0.804245, 0.5]
Transfer & Revision: [0.853919, 0.853291, 0.5]


Experiment 4
Ttest_relResult(statistic=-0.18310595015629416, pvalue=0.8715963404551625)
Ttest_relResult(statistic=-0.5810112703454802, pvalue=0.6199840161722534)

             p-value  RDN-B
0  transferRDN-B Ref  0.872
1      transferRDN-B  0.620

Scratch: [0.710114, 0.774619, 0.768323]
Transfer: [0.794358, 0.5, 0.769626]
Transfer & Revision: [0.856127, 0.5, 0.826555]


Experiment 5
Ttest_relResult(statistic=18.813306851081286, pvalue=0.002813415860977201)
Ttest_relResult(statistic=5.628527909120554, pvalue=0.03014529298401746)

             p-value  RDN-B
0  transferRDN-B Ref  0.003
1      transferRDN-B  0.030

Scratch: [0.759947, 0.779824, 0.728956]
Transfer: [0.791598, 0.800047, 0.76756]
Transfer & Revision: [0.860101, 0.869198, 0.836452]


Experiment 6
Ttest_relResult(statistic=0.038089937765311714, pvalue=0.9730761105273342)
Ttest_relResult(statistic=-0.2310406025573724, pvalue=0.8387670982798028)

             p-value  RDN-B
0  transferRDN-B Ref  0.973
1      transferRDN-B  0.839

Scratch: [0.632368, 0.770625, 0.7373]
Transfer: [0.80417, 0.5, 0.746567]
Transfer & Revision: [0.82987, 0.5, 0.826592]


Experiment 7
Ttest_relResult(statistic=-0.022651301659268416, pvalue=0.9839851650910444)
Ttest_relResult(statistic=-0.5538657968965929, pvalue=0.6353278045493651)

             p-value  RDN-B
0  transferRDN-B Ref  0.984
1      transferRDN-B  0.635

Scratch: [0.724174, 0.75712, 0.750917]
Transfer: [0.77748, 0.791277, 0.5]
Transfer & Revision: [0.851257, 0.872521, 0.5]


Experiment 8
Ttest_relResult(statistic=0.8841255159526749, pvalue=0.46989670673336226)
Ttest_relResult(statistic=-0.7633044888737212, pvalue=0.5250297524739245)

             p-value  RDN-B
0  transferRDN-B Ref  0.470
1      transferRDN-B  0.525

Scratch: [0.752481, 0.797643, 0.737969]
Transfer: [0.5, 0.802525, 0.775534]
Transfer & Revision: [0.713073, 0.841854, 0.847468]


Experiment 9
Ttest_relResult(statistic=-0.09356541263620648, pvalue=0.9339835894169353)
Ttest_relResult(statistic=-0.5321557878385283, pvalue=0.6478174903944145)

             p-value  RDN-B
0  transferRDN-B Ref  0.934
1      transferRDN-B  0.648

Scratch: [0.737948, 0.773807, 0.712228]
Transfer: [0.778504, 0.5, 0.772658]
Transfer & Revision: [0.847736, 0.5, 0.83951]


Experiment 10
Ttest_relResult(statistic=-0.046236882134138235, pvalue=0.9673230470374401)
Ttest_relResult(statistic=-0.5673506536578647, pvalue=0.6276674183464352)

             p-value  RDN-B
0  transferRDN-B Ref  0.967
1      transferRDN-B  0.628

Scratch: [0.742556, 0.763774, 0.734147]
Transfer: [0.771754, 0.813244, 0.5]
Transfer & Revision: [0.846862, 0.877738, 0.5]

## CLL

Experiment 1
Ttest_relResult(statistic=5.46647082002825, pvalue=0.03187331672134616)
Ttest_relResult(statistic=2.631329256186019, pvalue=0.1191580263822502)

             p-value  RDN-B
0  transferRDN-B Ref  0.032
1      transferRDN-B  0.119

Scratch: [-0.601179, -0.565715, -0.634695]
Transfer: [-0.561236, -0.558595, -0.593012]
Transfer & Revision: [-0.503868, -0.496069, -0.501891]


Experiment 2
Ttest_relResult(statistic=1.0454688418843783, pvalue=0.4055425474449912)
Ttest_relResult(statistic=0.07998665807311119, pvalue=0.9435311395984392)

             p-value  RDN-B
0  transferRDN-B Ref  0.406
1      transferRDN-B  0.944

Scratch: [-0.624888, -0.601661, -0.631535]
Transfer: [-0.695026, -0.556952, -0.597309]
Transfer & Revision: [-0.683596, -0.484546, -0.495446]


Experiment 3
Ttest_relResult(statistic=0.679132909494791, pvalue=0.5671081343475266)
Ttest_relResult(statistic=0.18877361236600934, pvalue=0.8676904229921185)

             p-value  RDN-B
0  transferRDN-B Ref  0.567
1      transferRDN-B  0.868

Scratch: [-0.627554, -0.615294, -0.600572]
Transfer: [-0.559196, -0.559585, -0.695026]
Transfer & Revision: [-0.505148, -0.497515, -0.695026]


Experiment 4
Ttest_relResult(statistic=0.46487656210693973, pvalue=0.6877215805215947)
Ttest_relResult(statistic=-0.33396266785761375, pvalue=0.7701739863174761)

             p-value  RDN-B
0  transferRDN-B Ref  0.688
1      transferRDN-B  0.770

Scratch: [-0.63069, -0.595684, -0.572004]
Transfer: [-0.558339, -0.695032, -0.594762]
Transfer & Revision: [-0.488175, -0.695032, -0.516532]


Experiment 5
Ttest_relResult(statistic=12.662837734988532, pvalue=0.006178716532122949)
Ttest_relResult(statistic=2.0269492805158533, pvalue=0.17988498873314185)

             p-value  RDN-B
0  transferRDN-B Ref  0.006
1      transferRDN-B  0.180

Scratch: [-0.588016, -0.615091, -0.601129]
Transfer: [-0.559827, -0.555533, -0.594854]
Transfer & Revision: [-0.492614, -0.498236, -0.510114]


Experiment 6
Ttest_relResult(statistic=0.4248723382523092, pvalue=0.712274225495692)
Ttest_relResult(statistic=-0.13585559416560866, pvalue=0.9043758026161641)

             p-value  RDN-B
0  transferRDN-B Ref  0.712
1      transferRDN-B  0.904

Scratch: [-0.65985, -0.579951, -0.587097]
Transfer: [-0.559965, -0.695093, -0.597141]
Transfer & Revision: [-0.518892, -0.695093, -0.51543]


Experiment 7
Ttest_relResult(statistic=0.5036509428436166, pvalue=0.6645057807800356)
Ttest_relResult(statistic=-0.12372481934419956, pvalue=0.9128462392201717)

             p-value  RDN-B
0  transferRDN-B Ref  0.665
1      transferRDN-B  0.913

Scratch: [-0.614947, -0.603376, -0.580944]
Transfer: [-0.564393, -0.559587, -0.695283]
Transfer & Revision: [-0.492703, -0.495596, -0.695283]


Experiment 8
Ttest_relResult(statistic=1.376522969992001, pvalue=0.30250673448188836)
Ttest_relResult(statistic=-0.5073920631533787, pvalue=0.6622970017956987)

             p-value  RDN-B
0  transferRDN-B Ref  0.303
1      transferRDN-B  0.662

Scratch: [-0.614029, -0.594081, -0.580068]
Transfer: [-0.695067, -0.557688, -0.587569]
Transfer & Revision: [-0.635309, -0.517643, -0.492188]


Experiment 9
Ttest_relResult(statistic=0.3792217256037188, pvalue=0.7409997678681031)
Ttest_relResult(statistic=-0.32027022848712494, pvalue=0.7791278157359569)

             p-value  RDN-B
0  transferRDN-B Ref  0.741
1      transferRDN-B  0.779

Scratch: [-0.60788, -0.57524, -0.623762]
Transfer: [-0.566389, -0.695026, -0.595181]
Transfer & Revision: [-0.514311, -0.695026, -0.513237]


Experiment 10
Ttest_relResult(statistic=0.8780350566560639, pvalue=0.4725298843825184)
Ttest_relResult(statistic=0.31543287210995696, pvalue=0.782304611985873)

             p-value  RDN-B
0  transferRDN-B Ref  0.473
1      transferRDN-B  0.782

Scratch: [-0.624332, -0.606165, -0.626827]
Transfer: [-0.564737, -0.558852, -0.69517]
Transfer & Revision: [-0.518169, -0.482559, -0.69517]

## Recall

Experiment 1
Ttest_relResult(statistic=5.077753491602765, pvalue=0.03666462871419658)
Ttest_relResult(statistic=11.572564929699084, pvalue=0.007384302410055225)

             p-value  RDN-B
0  transferRDN-B Ref  0.037
1      transferRDN-B  0.007

Scratch: [0.312741, 0.374517, 0.244231]
Transfer: [0.619691, 0.633205, 0.594231]
Transfer & Revision: [0.611969, 0.650579, 0.742308]


Experiment 2
Ttest_relResult(statistic=1.0656473715265435, pvalue=0.39819901950814784)
Ttest_relResult(statistic=0.7281263698716695, pvalue=0.5422460721940021)

             p-value  RDN-B
0  transferRDN-B Ref  0.398
1      transferRDN-B  0.542

Scratch: [0.250965, 0.276062, 0.263462]
Transfer: [0.0, 0.623552, 0.598077]
Transfer & Revision: [0.061776, 0.658301, 0.726923]


Experiment 3
Ttest_relResult(statistic=0.6115991109765851, pvalue=0.6030629871211185)
Ttest_relResult(statistic=0.5511834687231679, pvalue=0.636860498154342)

             p-value  RDN-B
0  transferRDN-B Ref  0.603
1      transferRDN-B  0.637

Scratch: [0.250965, 0.297297, 0.325]
Transfer: [0.623552, 0.621622, 0.0]
Transfer & Revision: [0.594595, 0.710425, 0.0]


Experiment 4
Ttest_relResult(statistic=0.6169743554710717, pvalue=0.6001301436040235)
Ttest_relResult(statistic=0.5242874533930016, pvalue=0.6523914316142024)

             p-value  RDN-B
0  transferRDN-B Ref  0.600
1      transferRDN-B  0.652

Scratch: [0.194981, 0.328185, 0.336538]
Transfer: [0.619691, 0.0, 0.6]
Transfer & Revision: [0.623552, 0.0, 0.678846]


Experiment 5
Ttest_relResult(statistic=17.469290816057008, pvalue=0.0032607777131112036)
Ttest_relResult(statistic=28.602973488058396, pvalue=0.0012200630280520778)

             p-value  RDN-B
0  transferRDN-B Ref  0.003
1      transferRDN-B  0.001

Scratch: [0.310811, 0.291506, 0.294231]
Transfer: [0.627413, 0.635135, 0.6]
Transfer & Revision: [0.650579, 0.635135, 0.698077]


Experiment 6
Ttest_relResult(statistic=0.6234570307967642, pvalue=0.5966093356972582)
Ttest_relResult(statistic=0.6314609006352713, pvalue=0.5922869463758773)

             p-value  RDN-B
0  transferRDN-B Ref  0.597
1      transferRDN-B  0.592

Scratch: [0.11583, 0.337838, 0.278846]
Transfer: [0.611969, 0.0, 0.601923]
Transfer & Revision: [0.596525, 0.0, 0.605769]


Experiment 7
Ttest_relResult(statistic=0.4659438863312886, pvalue=0.6870747456990743)
Ttest_relResult(statistic=0.5132448228206866, pvalue=0.6588526681818292)

             p-value  RDN-B
0  transferRDN-B Ref  0.687
1      transferRDN-B  0.659

Scratch: [0.26834, 0.335907, 0.317308]
Transfer: [0.6139, 0.637066, 0.0]
Transfer & Revision: [0.606178, 0.606178, 0.0]


Experiment 8
Ttest_relResult(statistic=1.7321209547506187, pvalue=0.22539078290654005)
Ttest_relResult(statistic=0.4114159412891656, pvalue=0.7206652262581889)

             p-value  RDN-B
0  transferRDN-B Ref  0.225
1      transferRDN-B  0.721

Scratch: [0.301158, 0.382239, 0.290385]
Transfer: [0.0, 0.610039, 0.6]
Transfer & Revision: [0.274131, 0.656371, 0.630769]


Experiment 9
Ttest_relResult(statistic=0.48079105871288075, pvalue=0.6781222026684561)
Ttest_relResult(statistic=0.4732441599731783, pvalue=0.6826622238204628)

             p-value  RDN-B
0  transferRDN-B Ref  0.678
1      transferRDN-B  0.683

Scratch: [0.287645, 0.349421, 0.257692]
Transfer: [0.621622, 0.0, 0.598077]
Transfer & Revision: [0.604247, 0.0, 0.623077]


Experiment 10
Ttest_relResult(statistic=0.6262351786784631, pvalue=0.5951059495164728)
Ttest_relResult(statistic=0.6025358145447346, pvalue=0.608035743448616)

             p-value  RDN-B
0  transferRDN-B Ref  0.595
1      transferRDN-B  0.608

Scratch: [0.249035, 0.337838, 0.290385]
Transfer: [0.627413, 0.629344, 0.0]
Transfer & Revision: [0.621622, 0.65444, 0.0]

## F1

Experiment 1
Ttest_relResult(statistic=6.034253599440386, pvalue=0.02638137287299283)
Ttest_relResult(statistic=8.266356435784338, pvalue=0.014320688941011914)

             p-value  RDN-B
0  transferRDN-B Ref  0.026
1      transferRDN-B  0.014

Scratch: [0.461538, 0.526459, 0.385432]
Transfer: [0.70472, 0.713043, 0.671739]
Transfer & Revision: [0.7254, 0.749722, 0.768924]


Experiment 2
Ttest_relResult(statistic=0.6489295193340934, pvalue=0.5829478998094068)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value  RDN-B
0  transferRDN-B Ref  0.583
1      transferRDN-B    nan

Scratch: [0.396947, 0.428786, 0.406528]
Transfer: [nan, 0.70989, 0.672432]
Transfer & Revision: [0.116152, 0.756098, 0.765182]


Experiment 3
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.393939, 0.444444, 0.473389]
Transfer: [0.704471, 0.70614, nan]
Transfer & Revision: [0.711316, 0.774737, nan]


Experiment 4
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.324759, 0.482955, 0.486787]
Transfer: [0.703947, nan, 0.674595]
Transfer & Revision: [0.729944, nan, 0.738494]


Experiment 5
Ttest_relResult(statistic=27.236956680186506, pvalue=0.0013452586519068954)
Ttest_relResult(statistic=25.604187837281902, pvalue=0.0015218984737683612)

             p-value  RDN-B
0  transferRDN-B Ref  0.001
1      transferRDN-B  0.002

Scratch: [0.463977, 0.446746, 0.437768]
Transfer: [0.706522, 0.715217, 0.674595]
Transfer & Revision: [0.744751, 0.742664, 0.75625]


Experiment 6
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.206897, 0.490196, 0.422741]
Transfer: [0.700552, nan, 0.674569]
Transfer & Revision: [0.714451, nan, 0.707865]


Experiment 7
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.411243, 0.483333, 0.461538]
Transfer: [0.696605, 0.713514, nan]
Transfer & Revision: [0.719359, 0.719359, nan]


Experiment 8
Ttest_relResult(statistic=1.4970961761825383, pvalue=0.273056997436614)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value  RDN-B
0  transferRDN-B Ref  0.273
1      transferRDN-B    nan

Scratch: [0.454148, 0.538776, 0.434532]
Transfer: [nan, 0.699889, 0.674595]
Transfer & Revision: [0.411594, 0.737527, 0.732961]


Experiment 9
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.435036, 0.500692, 0.397037]
Transfer: [0.70229, nan, 0.67316]
Transfer & Revision: [0.71789, nan, 0.722408]


Experiment 10
Ttest_relResult(statistic=nan, pvalue=nan)
Ttest_relResult(statistic=nan, pvalue=nan)

             p-value RDN-B
0  transferRDN-B Ref   nan
1      transferRDN-B   nan

Scratch: [0.394495, 0.488827, 0.436416]
Transfer: [0.706522, 0.712568, nan]
Transfer & Revision: [0.726862, 0.752497, nan]

## Precision

Experiment 1
Scratch: [0.880435, 0.885845, 0.913669]
Transfer: [0.816794, 0.81592, 0.7725]
Transfer & Revision: [0.890449, 0.884514, 0.797521]


Experiment 2
Scratch: [0.948905, 0.959732, 0.88961]
Transfer: [nan, 0.82398, 0.767901]
Transfer & Revision: [0.969697, 0.888021, 0.807692]


Experiment 3
Scratch: [0.915493, 0.88, 0.871134]
Transfer: [0.809524, 0.817259, nan]
Transfer & Revision: [0.885057, 0.851852, nan]


Experiment 4
Scratch: [0.971154, 0.913978, 0.879397]
Transfer: [0.814721, nan, 0.77037]
Transfer & Revision: [0.880109, nan, 0.809633]


Experiment 5
Scratch: [0.914773, 0.955696, 0.854749]
Transfer: [0.808458, 0.818408, 0.77037]
Transfer & Revision: [0.870801, 0.894022, 0.825]


Experiment 6
Scratch: [0.967742, 0.892857, 0.873494]
Transfer: [0.819121, nan, 0.767157]
Transfer & Revision: [0.89049, nan, 0.851351]


Experiment 7
Scratch: [0.879747, 0.861386, 0.846154]
Transfer: [0.805063, 0.810811, nan]
Transfer & Revision: [0.884507, 0.884507, nan]


Experiment 8
Scratch: [0.923077, 0.912442, 0.862857]
Transfer: [nan, 0.820779, 0.77037]
Transfer & Revision: [0.825581, 0.841584, 0.874667]


Experiment 9
Scratch: [0.892216, 0.882927, 0.864516]
Transfer: [0.807018, nan, 0.769802]
Transfer & Revision: [0.884181, nan, 0.859416]


Experiment 10
Scratch: [0.948529, 0.883838, 0.877907]
Transfer: [0.808458, 0.821159, nan]
Transfer & Revision: [0.875, 0.885117, nan]

## Learning and Revision time

Experiment 1
Scratch: [16.204, 14.323, 14.35]
Transfer: ['16.869 (39.8)', '13.512 (30.6)', '19.633 (28.8)']
Transfer & Revision: ['37.626999999999995 (39.8)', '33.444 (30.6)', '55.476 (28.8)']


Experiment 2
Scratch: [11.106, 14.958, 51.758]
Transfer: ['72.061 (30.7)', '13.477 (29.1)', '13.411 (29.0)']
Transfer & Revision: ['134.048 (30.7)', '41.217 (29.1)', '33.93 (29.0)']


Experiment 3
Scratch: [45.047, 9.933, 15.403]
Transfer: ['10.531 (32.8)', '10.507 (28.6)', '70.357 (28.9)']
Transfer & Revision: ['56.305 (32.8)', '91.989 (28.6)', '117.79599999999999 (28.9)']


Experiment 4
Scratch: [7.818, 13.267, 21.967]
Transfer: ['13.1 (24.8)', '43.328 (25.3)', '13.907 (25.0)']
Transfer & Revision: ['26.973 (24.8)', '93.035 (25.3)', '26.761 (25.0)']


Experiment 5
Scratch: [17.23, 8.712, 12.305]
Transfer: ['8.648 (25.0)', '9.164 (24.3)', '62.952 (27.7)']
Transfer & Revision: ['22.784 (25.0)', '23.026 (24.3)', '96.55 (27.7)']


Experiment 6
Scratch: [7.37, 12.205, 31.709]
Transfer: ['11.452 (26.9)', '53.642 (26.1)', '13.236 (26.0)']
Transfer & Revision: ['23.032 (26.9)', '129.314 (26.1)', '36.872 (26.0)']


Experiment 7
Scratch: [10.32, 8.102, 21.078]
Transfer: ['8.869 (24.9)', '10.704 (25.5)', '69.968 (25.0)']
Transfer & Revision: ['24.601 (24.9)', '22.789 (25.5)', '140.98000000000002 (25.0)']


Experiment 8
Scratch: [9.763, 9.201, 16.899]
Transfer: ['25.911 (28.3)', '10.247 (25.2)', '13.383 (27.5)']
Transfer & Revision: ['71.487 (28.3)', '29.179 (25.2)', '39.861000000000004 (27.5)']


Experiment 9
Scratch: [15.467, 13.631, 9.571]
Transfer: ['9.452 (24.5)', '41.14 (27.3)', '11.918 (25.3)']
Transfer & Revision: ['21.764 (24.5)', '81.42 (27.3)', '37.922 (25.3)']


Experiment 10
Scratch: [14.027, 15.844, 8.787]
Transfer: ['9.904 (24.4)', '10.453 (25.8)', '67.029 (28.0)']
Transfer & Revision: ['28.733999999999998 (24.4)', '29.354 (25.8)', '129.786 (28.0)']

## Inference time

Experiment 1
Scratch: [2.056, 1.952, 2.428]
Transfer: [4.586, 3.645, 3.288]
Transfer & Revision: [3.209, 2.538, 3.011]


Experiment 2
Scratch: [2.093, 1.935, 1.994]
Transfer: [12.716, 3.568, 3.502]
Transfer & Revision: [10.431, 3.212, 2.704]


Experiment 3
Scratch: [1.36, 1.595, 1.721]
Transfer: [3.016, 3.044, 9.56]
Transfer & Revision: [3.832, 2.297, 9.739]


Experiment 4
Scratch: [1.266, 1.351, 1.61]
Transfer: [3.33, 9.069, 2.842]
Transfer & Revision: [2.54, 9.691, 1.885]


Experiment 5
Scratch: [1.421, 1.175, 1.534]
Transfer: [3.092, 2.918, 2.713]
Transfer & Revision: [2.014, 2.113, 2.138]


Experiment 6
Scratch: [1.361, 1.477, 1.6]
Transfer: [2.659, 12.488, 3.132]
Transfer & Revision: [2.326, 12.812, 2.298]


Experiment 7
Scratch: [1.113, 1.363, 1.789]
Transfer: [2.897, 2.944, 13.023]
Transfer & Revision: [2.076, 2.113, 13.672]


Experiment 8
Scratch: [1.391, 1.598, 1.62]
Transfer: [4.996, 2.794, 3.808]
Transfer & Revision: [6.792, 2.185, 1.999]


Experiment 9
Scratch: [1.367, 1.591, 1.432]
Transfer: [3.013, 9.496, 3.146]
Transfer & Revision: [2.543, 8.995, 2.155]


Experiment 10
Scratch: [1.276, 1.41, 1.376]
Transfer: [3.285, 3.207, 14.616]
Transfer & Revision: [2.072, 2.183, 15.694]

# Results for 38_nell_finances_nell_sports

# Results for 39_nell_finances_nell_sports

# Results for 40_nell_finances_nell_sports

# Results for 41_nell_finances_nell_sports

# Results for 42_nell_finances_nell_sports

# Results for 43_nell_finances_nell_sports

# Results for 44_nell_finances_nell_sports

# Results for 45_nell_finances_nell_sports

# Results for 46_nell_finances_nell_sports

# Results for 47_yeast_facebook

# Results for 48_twitter_facebook

# Results for 49_imdb_facebook

# Results for 50_uwcse_facebook